{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block message %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}

{% block body %}
    <div class="col-12 d-flex align-items-center justify-content-center">
        <div
          class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-300 p-4 p-lg-5 w-100 fmxw-500">
            
            {% for flash_error in app.flashes('error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}
    
            {{ form_start(registrationForm) }}
                <div class="form-group mb-3">
                    {{ form_label(registrationForm.username) }}
                    {{ form_widget(registrationForm.username) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_label(registrationForm.email) }}
                    {{ form_widget(registrationForm.email) }}
                    {{ form_errors(registrationForm.email) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_label(registrationForm.plainPassword.first) }}
                    <div class="d-flex password-eye">
                        {{ form_widget(registrationForm.plainPassword.first, {
                            'id': 'inputPassword'
                        }) }}
                        <i class="far fa-eye" id="togglePassword"></i>
                    </div>
                    {{ form_errors(registrationForm.plainPassword.first) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_label(registrationForm.plainPassword.second) }}
                    <div class="d-flex password-eye">
                        {{ form_widget(registrationForm.plainPassword.second, {
                            'id': 'inputRepeatPassword'
                        }) }}
                        <i class="far fa-eye" id="toggleRepeatPassword"></i>
                    </div>
                </div>
    
                <div class="d-flex justify-content-center align-items-center mb-4">
                    <div class="form-check mb-0">
                        {{ form_widget(registrationForm.agreeTerms) }}
                        {{ form_label(registrationForm.agreeTerms) }}
                    </div>
                </div>
            
    
                <div class="d-grid">
                    <button class="btn btn-lg btn-primary" type="submit">
                        S'enregistrer
                    </button>
                </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
{% block javascriptsEndPage %}
<script> 
    togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#inputPassword');
    toggleRepeatPassword = document.querySelector('#toggleRepeatPassword');
    const repeatPassword = document.querySelector('#inputRepeatPassword');

    togglePassword.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        // toggle the eye slash icon
        this.classList.toggle('fa-eye-slash');
    });
    toggleRepeatPassword.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = repeatPassword.getAttribute('type') === 'password' ? 'text' : 'password';
        repeatPassword.setAttribute('type', type);
        // toggle the eye slash icon
        this.classList.toggle('fa-eye-slash');
    });
</script>
{% endblock %}
